.loaderIcon {
  animation: spin 1s infinite linear;
  height: 3em;
  width: 3em;
  color: #DCDCDC;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}

.go-back button {
  border: none;
  border-radius: 4px;
  padding: 12px 14px;
  color: white;
  background-color: #7c7c7c;
  &:hover {
    background-color: #525252;
  }
}