.all-reviews-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }
}
@media (min-width: 1400px) {
    .all-reviews-card {
        width: 35vw;
    }
}

@media (max-width: 1400px) {
    .all-reviews-card {
        width: 40vw;
        height: 80svh;
    }
}

@media (max-width: 1200px) {
    .all-reviews-card {
        width: 45vw;
        height: 80svh;
    }
}

@media (max-width: 768px) {
    .all-reviews-card {
        width: 90vw;
    }
}
