.review-control-panel-box {
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: end;

    &__input-search {
        border: none;
        width: 0px;
        background-color: transparent;
        transition: width 2s ease-in-out;
        &::placeholder {
            color: #dcdcdc;
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    .review-control-panel-box__input-search:focus {
        border: none;
        outline: none;
        width: 100%;
    }
    
    .review-control-panel-box__search-box:focus-within {
        width: 70%;
    }
    
    &__search-box:hover {
        width: 70%;

        input[type="text"] {
            width: 100%;
        }
    }

    &__search-box {
        display: flex;
        align-items: center;
        height: 45px;
        width: 45px;
        padding: 10px;
        border: none;
        font-size: 16px;
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: width 1.2s ease-in-out;
    }

    &__icon {
        width: 30px;
        height: 17px;
    }

    &__filter {}

    &__sort-by {}

}