.review-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 20px 25px 15px 25px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .review-recency {
        font-weight: bold;
    }

    margin-bottom: 10px;
}

.review-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .edit-button {
        color: #7c7c7c;
        background-color: #BFE0FF;
        width: 90px;
        border-radius: 20px;
    }
    .edit-button:hover {
        color: #636363;
        background-color: #a9c6e2;
    }

    .thumbs-container{
        display: flex;
        justify-content: row;

        .thumbs-up-container,
        .thumbs-down-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.review-description {
    min-height: 50px;
}
