/* TODO: CSS Container names SUCK!!! Please fix  LEOOO*/
.review-summary-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 20px 25px 15px 25px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

    // ------------------------- LEFT CONTAINER -------------------------------
    &__left-container {
        margin: 0 5px 0 20px;
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    &__labels-container {
        margin-top: 7px;
        margin-right: 20px;
    }

    &__progress-bar-container {
        width: 100%;
    }

    &__bar-labels {
        margin: 15px 0 15px 0;
    }

    &__progress-bar {
        display: flex;
        width: 100%;
        margin: 25px 0 25px 0;

        &--five-star-bar {
            @extend .review-summary-box__progress-bar;
        }
        &--four-star-bar {
            @extend .review-summary-box__progress-bar;
        }
        &--three-star-bar {
            @extend .review-summary-box__progress-bar;
        }
        &--two-star-bar {
            @extend .review-summary-box__progress-bar;
        }
        &--one-star-bar {
            @extend .review-summary-box__progress-bar;
        }
    }

    // ------------------------- RIGHT CONTAINER -------------------------------
    // TODO: create new button component for the different buttons!
    &__right-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(0, -15px);
        margin: 0 30px 0 5px;
    }

    &__average-rating-text {
        transform: translate(0, 20%);
        font-weight: bolder;
        font-size: 75px;
        margin-bottom: 5px;
    }

    &__num-reviews-text {
        margin: 5px 0 20px 0;
    }

    &__add-review-button {
        border-radius: 20px;
        height: 30px;
        width: 115px;
        background-color: #bfe0ff;
        border: none;
        color: #7c7c7c;

        &:hover {
            color: #636363;
            background-color: #a9c6e2;
        }
    }
}