.review-control-panel-box {
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: end;
    // ----------------------------------- SEARCH -------------------------------------------------
    &__input-search {
        border: none;
        width: 0px;
        background-color: transparent;
        transition: width 2s ease-in-out;
        &::placeholder {
            color: #dcdcdc;
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    &__input-search:focus {
        border: none;
        outline: none;
        width: 100%;
    }
    
    &__search-box:focus-within, &__search-box:hover {
        width: 75%;

        input[type="text"] {
            width: 100%;
        }
    }

    &__search-box {
        display: flex;
        align-items: center;
        height: 45px;
        width: 45px;
        padding: 10px;
        border: none;
        font-size: 16px;
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
        transition: width 1.2s ease-in-out;
    }

    &__icon {
        width: 30px;
        height: 15px;
    }

    &__filter-button, &__sort-by-button  {
        height: 45px;
        padding: 0 20px 0 20px;
        width: fit-content;       
        border: none;
        font-size: 16px;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 10px;
        color: #7C7C7C;
    }

}