.auth-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;

    // ------------------------- ERROR MESSAGES -------------------------------
    &__auth-error-msg {
        font-size: 12px;
        color: #e86c6c;

        &--top {
            margin-bottom: -15px;
        }

        &--bottom {
            /* make there more space below the text*/
        }
    }

    // ------------------------- LINKS -------------------------------
    &__login-link {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__register-link-container {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
    }

    &__register-link-button {
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        padding-top: 10px;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    // ------------------------- AUTH FORM -------------------------------
    &__auth-form {
        display: block;
    }

    &__title {
        font-size: 36px;
        text-align: center;
        color: #333;
    }

    // ------------------------- INPUT BOX -------------------------------
    &__input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 20px 0;

        &--error {
            border: 2px solid #e27e7e;
        }
    }

    &__auth-input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid #e8e8e8;
        outline: none;
        border-radius: 4px;
        font-size: 16px;
        padding: 20px 45px 20px 20px;

        &:focus {
            border-color: #448ee4;
            border-width: 2px;
        }
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #7c7c7c;
    }

    // ------------------------- AUTH BUTTONS (LOGIN/REGISTER) -------------------------------
    &__auth-button {
        width: 100%;
        height: 45px;
        background: #fff;
        border: 1px solid #e8e8e8;
        outline: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 700;
        transition: background-color 0.3s;

        &:hover {
            background: #f5f5f5;
        }

        &--error {
            background: #dcdcdc;
            color: #7c7c7c;
            pointer-events: none;
        }
    }

    // ------------------------- FORGET PASSWORD -------------------------------
    &__forgot-password-container {
        margin-bottom: 7px;
    }

    &__forgot-password-button {
        text-decoration: none;
        background: none;
        border: none;
        color: #333;
        font-size: small;

        &:hover {
            text-decoration: underline;
        }
    }

    // ------------------------- RETURN CONTAINER -------------------------------
    &__return-container {
        display: flex;
        justify-content: center;
    }

    &__return-button {
        margin: 15px 0 -10px 0;
        background: transparent;
        border: none;
        color: #448ee4;

        &:hover {
            text-decoration: underline;
        }
    }
}
