body {
  color: #7c7c7c;
}

 //------------------------ GENERAL ------------------------------- 
.about-box {
  // GENERAL ABOUT US BANNER
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100svh;

  &__large-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100vw; 
    transform: translateY(100px);
    position: relative;
    background-color: #BFE0FF;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    font-weight: bolder;
    width: fit-content;
    text-align: justify;
  }

  // DEVELOPER ABOUT US SECTION  
  &__card-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__developer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 43vw;
    height: 50vh;
    border-radius: 20px;
    background-color: white;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__developer-banner {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40%;
  }

  &__pfp {
    border-radius: 100px;
    height: 90%;
    min-width: 90px;
  }

  &__developer-details {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__social-media-directory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  &__icon {
    margin: 4px;
    border-radius: 100px;
    height: 20%;
    cursor: pointer;
  }

  &__icon:hover {
    filter: brightness(0.7);
  }

  &__developer-username {
    font-weight: bold;
  }

  &__developer-description {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 45%;
  }
}

//------------------------ MIN WIDTH 1024 PX ------------------------------- 
@media (min-width: 1200px) {
  .about-box {
    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 210px;
    }

    &__title {
      font-size: 110px;
    }
    
    &__description {
      font-size: 22px;
    }

    // DEVELOPER ABOUT US SECTION  
    &__card-box {
      transform: translateY(100px);
    }
  
    &__developer-cards {
      width: 95%;
      height: 50vh;
    }
    
    &__developer-username {
      font-size: 39px;
    }

    &__developer-role {
      font-size: 23px;
    }

    &__developer-description {
      margin-top: 15px;
      font-size: 20px;
    }
  }
}

//------------------------ WIDTH 1024 PX TO 1200 PX ------------------------------- 
@media (min-width: 1024px) and (max-width: 1200px) {
  .about-box {
    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 210px;
    }

    &__title {
      font-size: 110px;
    }
    
    &__description {
      font-size: 22px;
    }

    // DEVELOPER ABOUT US SECTION  
    &__card-box {
      transform: translateY(100px);
    }
  
    &__developer-cards {
      width: 95%;
      height: 50vh;
    }
    
    &__developer-username {
      font-size: 39px;
    }

    &__developer-role {
      font-size: 23px;
    }

    &__developer-description {
      margin-top: 15px;
      font-size: 20px;
    }
  }
}

//------------------------ WIDTH 1024 PX ------------------------------- 
@media (max-width: 1024px) {
  .about-box {
    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 200px;
    }

    &__title {
      font-size: 100px;
    }
    
    &__description {
      font-size: 20px;
      margin-bottom: 20px;
    }

    // DEVELOPER ABOUT US SECTION  
    &__card-box {
      flex-direction: column;
      align-items: center;
      transform: translateY(100px);
    }

    &__developer-cards {
      width: 95%;
      height: 40vh;
    }
    
    &__developer-username {
      font-size: 37px;
    }

    &__developer-role {
      font-size: 21px;
    }

    &__developer-description {
      margin-top: 15px;
      font-size: 19px;
    }
  }
}

//------------------------ WIDTH 768 PX ------------------------------- 
@media (max-width: 768px) {
  .about-box {
    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 210px;
      transform: translateY(100px);
    }

    &__title {
      font-size: 90px;
    }
    
    &__description {
      font-size: 18px;
    }

    // DEVELOPER ABOUT US SECTION  

    &__card-box {
      transform: translateY(100px);
    }

    &__developer-cards {
      width: 95%;
      height: 40vh;
    }
    
    &__developer-username {
      font-size: 35px;
    }

    &__developer-role {
      font-size: 19px;
    }

    &__developer-description {
      margin-top: 15px;
      font-size: 18px;
    }
  }
}

//------------------------ WIDTH 600 PX ------------------------------- 
@media (max-width: 600px) {
  .about-box {
    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 200px;
      transform: translate(0, 79px);
    }

    &__title {
      font-size: 80px;
    }
    
    &__description {
      font-size: 16px;
    }

    // DEVELOPER ABOUT US SECTION  
    &__card-box {
      transform: translateY(120px);
    }

    &__developer-username {
      font-size: 30px;
    }

    &__developer-role {
      font-size: 17px;
    }

    &__developer-description {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}

//------------------------ WIDTH 480 PX ------------------------------- 
@media (max-width: 480px) {

  .about-box {

    // GENERAL ABOUT US BANNER
    &__large-banner {
      height: 180px;
      transform: translateY(100px);
    }

    &__pfp {
      height: 80%;
    }

    &__title {
      font-size: 70px;
    }

    &__description {
      font-size: 14px;
      margin: 0 20px 0 20px;
    }

    // DEVELOPER ABOUT US SECTION  
    &__card-box {
      transform: translateY(120px);
    }

    &__developer-cards {
      width: 90%;
      height: 40vh;
    }

    &__developer-username {
      font-size: 25px;
    }

    &__developer-role {
      font-size: 15px;
    }

    &__developer-description {
      font-size: 14px;
    }
  }
}