/* Common About Banner */
.banner {
  .search-box {
    visibility: hidden;
  }
  .about-button {
    visibility: hidden;
  }
  
  .goBack-button {
    visibility: visible;
  }
  .banner-container {
    box-shadow: none;
  }
}

body {
  color: #7c7c7c;
}

.about-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 44vh;
  width: 100vw; 
  transform: translate(-50%, 0);
  top: 119px;
  z-index: -1;
  background-color: #BFE0FF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  .about-title {
    font-size: 100px;
    font-weight: bold;
  }
  .about-description {
    font-size: 17px;
    font-weight: bolder;
    width: fit-content;
    text-align: justify;
  }
}

/* Leo and Ray about us cards */
.cards-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 90vw;
  transform: translate(-50%, 70%);
  justify-content: center;
  
  .developer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 43vw;
    height: 50vh;
    border-radius: 20px;
    background-color: white;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .personal-banner {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40%;

    .pfp {
      border-radius: 100px;
      height: 90%;
      min-width: 90px;
    }

    .social-media-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .icon {
        margin: 4px;
        border-radius: 100px;
        height: 20%;
      }

      .icon:hover {
        filter: brightness(0.7);
      }
    }
  }
}

.user-name {
  font-weight: bold;
  font-size: 200%;
}

.developer-description {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin-top: 20px;
  font-size: 17px;
}
@media (min-width: 1080px) {

  .about-banner {
    .about-title {
      font-size: 125px;
      font-weight: bold;
    }
    .about-description {
      font-size: 20px;
    }
  }

  .developer-description {
    margin-top: 20px;
    font-size: 19px;
  }

  .user-name {
    font-weight: bold;
    font-size: 275%;
  }

  .user-title {
    font-size: 150%;
  }

}


/* .container {
  display: flex;
  flex-direction: column;
  overflow: clip;
} */

/* .logo {
  width: 70px;
  height: 70px;
} */
/* 

.a-logo {
  margin-right: 60px; 
  width: 45px;
  height: 45px; 
  margin-right: 20px;
  position: absolute;
  left: 29px;
  top: 17.5px;
}


.logo-container button {
  color: #525252;
  border: none;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top: 5%;
  right: 10px;
  padding: 8px;
  height: 34px;
  border-radius: 4px;
}

.logo-container button:hover {
  background-color: #dcdcdc;
}

.about-section {
  padding: 50px;
  margin: 40px;
  text-align: center;
  background-color: #F5F5F5;
  transition: 0.3s;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .title{
    color: #64adc6;
  }
  .subtitle {
    color: #ADD8E6;
  }

}

.about-section:hover {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.contact {
  display: flex;
  justify-content: space-around;

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      margin: 8px;
      
      img {
        border-radius: 4px;
      }

      .container {
        padding: 16px;
        .title {
          text-align: left;
          color: #7c7c7c;
          margin-bottom: 0;
        }
      }
    }
    .card:hover {
      box-shadow: 0 18px 28px 0 rgba(0, 0, 0, 0.2);
    }
    
  }
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
} */