.home-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  /* height: 200vh; */

  &__study-spot-filter {
    position: absolute;
    top: 120px;
    transform: translate(-50%, 0);
    width: 100vw;
  }

  &__study-spot-list {
    position: absolute;
    left: 6%;
    right: 6%;
    /* transform: translate(-50%,0); */
    top: 190px;
  }
  
  &__alert {
    position: fixed;
    z-index: 99;
    bottom: 10px;
    transform: translate(-50%,0);
  }
}


/* 
@media (max-width: 1080px) {
  .study-spot-filter {
    top: 230px;
  }
  .study-spot-list {
    top: 280px;
  }
} */