.container {
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.study-spot-filter {
  position: absolute;
  top: 120px;
  transform: translate(-50%, 0);
  width: 100vw;
  border-top: 1px solid #DCDCDC;
}

.study-spot-list {
  position: fixed;
  left: 6%;
  right: 6%;
  top: 190px;
}

@media (max-width: 1080px) {
  .study-spot-filter {
    top: 230px;
  }
  .study-spot-list {
    top: 280px;
  }
}