.home-box {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  overflow-x: hidden;
  &__study-spot-filter {
    position: absolute;
    top: 120px;
    transform: translate(-50%, 0);
    width: 100vw;
  }

  &__study-spot-list {
    position: absolute;
    left: 6%;
    right: 6%;
    top: 190px;
  }
  
  &__alert {
    position: fixed;
    z-index: 99;
    bottom: 10px;
    transform: translate(-50%,0);
  }
}