.container {
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.study-spot-filter {
  margin: 0 auto;
  margin-bottom: 1000px;
}

.study-spot-list {
  position: fixed;
  left: 6%;
  right: 6%;
  top: 20%;
}

@media (max-width: 1080px) {
  .study-spot-filter {
    margin-top: 90px;
  }
}