.recommendspot-box {
  overflow-x: hidden;

  // ------------------------- BANNER -------------------------------
  &__banner {
    .banner-box__suggest-button {
      visibility: hidden;
    }

    .banner-box {
      background-color: #f5f5f5;
      box-shadow: none;
    }

    .banner-box__user-nav {
      visibility: hidden;
    }
  }

  // ------------------------- PROGRESS BAR -------------------------------
  &__progress-bar {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 85px; /* align with footer height */
    width: 100%;
  }
  
}
