.listing-detail {
  background: #fff;
  padding: 30px;
  width: 100vw;
  height: 80vh;
  margin-top: 100px;
}

.listing-header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #333;
}

.listing-header .distance {
  margin: 5px 0 20px 5px;
  color: #666;
}


.gallery {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 70%;
  flex-wrap: wrap;
  position: relative;
  border-radius: 20px;
}

.slider-button {
  visibility: hidden;
  position: absolute;
  top: 47%;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons are on top of the image */
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
}

.gallery:hover {
  .slider-button {
    opacity: 1;
    visibility: visible;
  }
}

.slider-button.prev {
  left: 10px; 
}

.slider-button.next {
   /* Adjust as needed to position the button */
   right: 10px;
}

/* .slider-button{
  position: absolute;
} */


.gallery img {
  /* width: calc(33.333% - 10px); */
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s;
}

.gallery img:hover {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.details, .amenities {
  margin-top: 30px;
}

.details h2, .amenities h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.details p, .amenities ul {
  color: #555;
  line-height: 1.6;
}

.amenities ul {
  list-style-type: none;
  /* list-style: none; */
  padding: 0;
}

.amenities li {
  display: inline-block;
  background: #ADD8E6;
  padding: 4px 14px;
  border-radius: 20px;
  margin-right: 14px;
  align-items: center;
}
