.user-settings-box {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;

  //------------------------ BANNER ------------------------------- 
  &__banner {
    .banner-box__suggest-button {
      visibility: hidden;
    }

    .banner-box {
      background-color: #f5f5f5;
      box-shadow: none;
    }
  }

  //------------------------ HEADER ------------------------------- 
  &__header {
    margin-bottom: 20px;
  }

  &__header-directory {
    color: gray;
    font-size: 14px;
  }

  &__header-title {
    font-size: 32px;
    font-weight: 700;
    color: #525252;
    margin: 10px 0;
  }

  //------------------------ SETTINGS FORM ------------------------------- 
  &__form-container {
    position: absolute;
    top: 25vh;
    left: 10vw;
  }

  &__form {
    flex: 1;
    margin-right: 40px;
  }

}
