.banner-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  left: 2%; 
  right: 5%;
  top: 1%;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 180px;
  .a-logo {
    /* margin-right: 60px; */
    /* width: 45px;
    height: 45px; idk what to do with this*/
    margin-right: 20px;
    position: static;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  button {
    color: #525252;
    border: none;
    background-color: white;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 5%;
    right: 10px;
    padding: 8px;
    height: 34px;
    border-radius: 4px;
  }
}



.logo-container 

.logo-container button:hover {
  background-color: #dcdcdc;
}

.middle-container {
  margin-top: 10px;
}

.form {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  input {
    border: 1px solid #dcdcdc;
    border-radius: 4px; 
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    padding: 10px;
    margin-top: -10px;
    font-size: 16px;
    width: 500px;
    &:hover {
      background-color: #dcdcdc;
    }
  }

  button {
    width: 50px;
    border-radius: 4px;
    border: 1px transparent;
    padding: 10px;
    margin-top: -10px;
    margin-right: 10px;
    background-color: #ADD8E6;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    transition: 0.3s;
  }
  button:hover {
    background-color: #89b8c7;
  }

  .icon {
    color: #fff;
  }
}

.banner-container .right-container {
  display: flex;
  width: 236px;
  margin: 0;
  padding: 0;
}

.right-container .sub-container button {
  color: #525252;
  border: none;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top: 7px;
  right: 10px;
  padding: 8px;
  border-radius: 4px;
}

.sub-container button:hover {
  background-color: #dcdcdc;
}

.user-nav {
  outline: #dcdcdc;
  outline-style: solid;
  outline-width: 1px;
  transition: 0.3s;
  min-width: 70px;
  height: 36px;
  border-radius: 4px;
  margin: 5px;
  overflow: hidden;
}

.user-nav:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-btn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 10px;
  width: 100%;
  min-width: 10px;
  display: flex;
  justify-content: space-around;
}

.icon {
  color: #7c7c7c;
}

.dropdown-content {
  background-color: white;
  display: block;
  position: absolute;
  top: 50px;
  right: 5px;
  padding: 12px 0 12px;
  min-width: 180px;
  box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdown-content a {
  background-color: white;
  float: none;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* hr {
  position: absolute;
  top: 90px;
  right: 0px;
} */